<p>home works!</p>
<hr/>
<div class="row">
    <div class="col">
        <label>ID</label><br/>
        <input [(ngModel)]='ID' disabled style="text-align: center;" /><br/><br/>

        <label>Firstname</label><br/>
        <input [(ngModel)]='Firstname' /><br/><br/>

        <label>Lastname</label><br/>
        <input [(ngModel)]='Lastname' /><br/><br/>

        <label>Class Room</label><br/>
        <input [(ngModel)]='ClassRoom' /><br/><br/>

        <button (click)='addStudent()'>Confirm</button>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th># No</th>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Class Room</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let student of studentCollection; let i = index;'>
                    <td>{{i + 1}}</td>
                    <td>{{student.id}}</td>
                    <td>{{student.firstname}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.classRoom}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>